
/* Base Styles */

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
  padding: 2rem 0;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  &-image {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;

    img {
      width: 168px;
      height: 168px;
      border-radius: 50%;
    }
  }

  &-user-settings,
  &-stats,
  &-bio {
    float: left;
    width: calc(66.666% - 2rem);
  }

  &-user-settings {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
  }

  &-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
    margin: 0 10px 0 0;
  }

  &-stat {
    margin-top: 2.3rem;
  }

  &-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
  }

  &--real-name {
    font-size: 14px;
    font-weight: 600;
  }

  &-stat-count {
    margin-bottom: 10px;
    font-weight: 800;
  }
}

.contact {
  &-type,
  &-link {
    font-size: 12px;
    font-weight: 600;
  }

  &-link {
    text-decoration: none;
    color: #4b678e;
  }
}

/* Gallery Section */


.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;

    &:hover &-info,
    &:focus &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &-info {
      display: none;

      & li {
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 600;
      }
    }

    &-likes {
      margin-right: 2.2rem;
    }

    &-type {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2.5rem;
      text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
    }
  }
}

/* Media Query */

@media screen and (max-width: 40rem) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;

    &::after {
      display: none;
    }

    &-image,
    &-user-settings,
    &-bio,
    &-stats {
      float: none;
      width: auto;
    }

    &-user-settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 1rem;
    }

    &-user-name {
      font-size: 2.2rem;
    }

    &-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
    }

    &-bio,
    &-stats {
      flex-basis: 100%;
    }

    &-stats {
      order: 1;
      margin-top: 1.5rem;
    }

    &-stat-count {
      display: block;
      margin-bottom: 10px;
      font-weight: 800;
    }
  }
}

@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center;

    &-image {
      grid-row: 1 / -1;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }

  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }

  @media (max-width: 40rem) {
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem;

      &-image {
        grid-row: 1 / 2;
      }

      &-user-settings {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
      }

      &-stats,
      &-bio {
        grid-column: 1 / -1;
      }

      &-user-settings,
      &-bio,
      &-stats {
        margin: 0;
      }
    }
  }
}
